body {
    background: #bdbdbd
}

p {
    text-align: center;
}

em strong {
    color: #5c3232;
}

#banner {
    width: 100%;
    border-top: #bdbdbd;
    border-bottom: #bdbdbd;
}
:root {
        background-color: bisque;
        
}

.caixa-1 {
    color:#5c3232
}